
.top-nav-container{
    display: none;
}
.top-navbar-list {
    list-style-type: none;
    padding: 0;
    display: flex;
}

@media (min-width: 769px){


    .top-nav-container{
        display: flex;
        justify-content: center;
    }

    .top-navbar-content{
        width: 70%;
    }


    .top-navbar-list{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }




}